#sujan {

  .footer {
    background: #106cc8;
    padding: 40px 10px;
    .footer-logo {
      height: 30px;
      position: absolute;
      left: 25px;
      margin-top: 18px;
    }
    .footer-container {
      display: flex;
      justify-content: space-around;

      .column {
        display: flex;
        flex-direction: column;
        .link-header{
          font-size: 13px;
          text-transform: uppercase;
          color: white;
          margin-bottom: 10px;
        }
        .footer-link {
          font-size: 10px;
          color: #b2b2b2;
          text-decoration: none;
          margin-bottom: 3px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
