@import '../common';
@import "../../styles/variables";

#sujan header {
  padding: 0 25px;
  .header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    .header-left {
      text-decoration: none;
      .brand-logo {
        height: 45px;
        width: 80px;
        position: relative;
        left: 24px;
        top: 6px;
      }
      .brand-name {
        font-family: 'Bree Serif', sans-serif;
        color: $accentColor;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 3px 2px 1px #ccc;
      }
      //.brand-slogan {
      //  position: relative;
      //  left: 32px;
      //  bottom: 5px;
      //  font-family: 'Bad Script', cursive;
      //}
    }
  }
  //define breakpoint in variable and use them
  @media (max-width: 485px) {
    .header-container {
      justify-content: center;
    }
  }
}

nav {
  md-toolbar {
    min-height: 0;
  }
}
