@import "../../styles/variables";

#sujan {
  .prodfilter {
    display: flex;
    flex-direction: column;

    //todo: resolve !important
    md-input-container {
      .accent-btn-ed {
        background-color:#ff9797 ;
        position: absolute;
        left: -34px;
        top: 0;
        opacity: .6;
        min-width: 23px!important;
        max-width: 23px!important;
        min-height: 25px !important;
        max-height: 25px !important;
        border-radius: 15px;

        &:hover {
          background-color: #ff5252;
        }
        .fa.fa-times {
          position: relative;
          bottom: 5px;
        }
      }
      &.pri-clr-container{
        width: 100%;
      }
      &.small-width {
        width: 43%;
        margin-right: 25px;
      }
      &.sec-clr-container {
        width: 43%;
      }
    }
    .color-mode-link {
      color: #cccccc;
      float: right;
      cursor: pointer;
      position: absolute;
      top: 213px;
      left: 277px;
    }
    //todo: move to utilities
    .accent-btn {
      background: $accentColor;
      color: white;
    }
  }
}
