@import '../../styles/variables';

#sujan {
  .main-gallery-container-adjust {
    flex-direction: column;
  }

  .main-gallery-container {
    display: flex;

    .filter-container-adjust {
      position: static!important;
    }

    .filter-container {
      flex: 1;
      padding: 10px 30px;
    }
    .gallery-section {
      flex: 4;
    }
    @media (max-width: $mobile) {
      .filter-container {
        position: absolute;
      }
    }
  }
}
