<navbar></navbar>
<main>
  <div class="main-gallery-container" ng-class="{'disp-adjust': $ctrl.showMobFilter}">
    <div class="filter-container">
      <prodfilter change-value="$ctrl.changeValue(name, value)"
                  color-value="$ctrl.colorValue"
                  price-value="$ctrl.priceValue"
                  type-value="$ctrl.typeValue"
                  base-color-value="$ctrl.baseColorValue">
      </prodfilter>
    </div>
    <div class="gallery-section">
      <proddisplay color-value="$ctrl.colorValue"
                   price-value="$ctrl.priceValue"
                   type-value="$ctrl.typeValue"
                   base-color-value="$ctrl.baseColorValue"></proddisplay>
    </div>
  </div>
</main>
<footer></footer>
