@import "../../styles/variables";

#sujan {
  .prod-display {
    padding: 20px 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .repeater {
      display: flex;

      .circle {
        height: 180px;
        width: 180px;
        border-radius: 100px;
        border: 3px solid #108bc8;
        cursor: pointer;
        margin: 20px 30px;
        outline: none;

        &:hover {
          transform: scale(1.1);
          transition: 1.2s;
          box-shadow: 3px 3px 8px #8e8e8e;
        }

        .prod-name {
          position: relative;
          top: 10px;
          font-size: 12px;
          font-weight: bold;
          font-family: 'Muli', sans-serif;
        }
      }
    }
    .circled-animation {
      border: 7px solid #108bc8;
    }
    .alt-color-container {
      align-self: center;
      margin-left: 10px;
      margin-bottom: 12px;
      .alt-circle {
        width: 15px;
        height: 15px;
        border: 1px solid $textShadow;
        border-radius: 25px;
        margin: 5px;
        cursor: pointer;
      }
      .thumb-active {
        border: 1px solid $primaryColor;
        cursor: none;
      }
    }
  }
}
