<div class="prod-display">
  <!--<h3>{{$ctrl.galleryComp.colorValue}}</h3>-->
  <!--<h3>{{$ctrl.galleryComp.priceValue}}</h3>-->
  <!--<h3>{{$ctrl.galleryComp.typeValue}}</h3>-->
  <div class="circle"
       ng-click="$ctrl.prodSelect()"
       ng-class="{'circled-animation': $ctrl.circled}"
       ng-repeat="product in $ctrl.products | filter:$ctrl.galleryComp.colorValue | filter:$ctrl.galleryComp.typeValue | filter:$ctrl.galleryComp.priceValue">
    <div class="prod-image"
         style="background: url({{product.imgSrc}});
                width: 100%;
                height: 100%;
                background-size: cover;
                border-radius: 100px;
                background-position: {{product.bgPosition}};
                ">
    </div>
    <div class="prod-name" style="left: {{product.nameSpace}};">{{product.name}}</div>
  </div>
</div>
