<!--No result-->
<div class="no-results" ng-if="prodFilterResults.length == 0">
  <span>No results found</span>
  <p><a class="pointed"><i class="fa fa-refresh"></i> Reset filter </a> to try a new search</p>
</div>

<div class="prod-display">
  <div class="repeater"
       ng-repeat="product in $ctrl.arr | filter:$ctrl.colorValue
                                            | filter:$ctrl.typeValue
                                            | filter:$ctrl.priceValue
                                            | filter:$ctrl.baseColorValue as prodFilterResults">
    <div class="circle">
      <div class="prod-image" style="background: url({{product.options[product.activeOption].imgSrc}});
                width: 100%;
                height: 100%;
                background-size: cover;
                outline: none;
                border-radius: 100px;
                background-position: {{product.bgPosition}};"
           ui-sref="proddetails({id:product.id})">
      </div>
      <div class="prod-name">{{product.options[product.activeOption].name}}</div>
    </div>
    <div class="alt-color-container" ng-if="product.options.length > 1">
      <!--<div class="alt-circle" style="background: {{product.primeColor}}"></div>-->
      <div ng-repeat="option in product.options track by $index"
           class="alt-circle"
           ng-click="$ctrl.switchColor(product, $index)"
           style="background: {{option.color}}"></div>
    </div>
  </div>
</div>

<div class="new-data" ng-repeat="dat in $ctrl.prodData">
  <span>name :{{dat}}</span>
</div>

<div>Data: {{$ctrl.arr}}</div>
