<div class="rapper lg">
  <div class="login">
    <div class="center">
      <h2>Please log in</h2>
      <form action="">
        <div class="fieldseter" ng-disabled="$ctrl.isSubmitting">
          <!--<md-content>-->
          <md-input-container>
            <label>Username</label>
            <input type="text">
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input type="password">
          </md-input-container>
          <!--</md-content>-->

          <md-button class="md-raised">Submit</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
