@import "../../styles/variables";

.billboard {
  .board-container {
    display: flex;
    .prod-img {
      height: 442px;
      width: 553px;
    }
    .prod-info {
      margin-top: 75px;
      h4 {
        font-size: 25px;
      }
      .prod-description {
        display: block;
        font-size: 12px;
        width: 250px;
      }
      .md-button {
        display: block;
        margin: 15px 0;
        border-bottom: 2px solid transparent;
        transition: border-color 1.2s ease, color 1.2s ease;


        &:hover {
          border-color: $primaryColor;
          color: $primaryColor;
        }
      }
    }
  }
}
