.billboard {
  .board-container {
    .simple-carousel {
      display: flex;
      .arrows {
        position: absolute;
        bottom: 388px;
        i {
          font-size: 35px;
          color: #000000;
          cursor: pointer;
        }
        .fa-chevron-right {
          position: relative;
          left: 535px;
        }
      }
      .images-container {
        .inactive {
          display: none;
        }
      }
      .detail-img {
        flex: 0.7;
      }
      .detail-info {
        display: flex;
        flex-direction: column;
        padding-top:20px ;

        .prod-name {
          font-size: 22px;
        }
        span,label,div {
          margin-bottom: 20px;
        }
        .color-scheme {
          .color-round {
            width: 30px;
            height: 30px;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
